<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>THIS IS ANNOUNCEMENT PAGE</h2>

        {{#each AnnoucementInfoS}}
        <div>
        <a style="margin:0;display:inline;float:left" href="/announcement/{{this._id}}">[{{this.Type}}] {{this.Title}}  </a> 
        <p style="margin:0;display:inline:float:right" > - {{this.CreateAt}}</p>
        </div>
        {{/each}}

    <div class="mt-4">
    <a href="/home">back to home</a>
    </div>
</body>
</html>