<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>Create new Annoucement</h2>
        <form action="/announcement/create" method="post" >
        
            <input type="text" name="Title" required placeholder="Title">
            <br> 
            <input type="text" name="Content" required placeholder="Content">
            <br> 
            <input type="text" name="Description" required placeholder="Description">
            <br>    
            <input type="submit" value = "Post">
        </form>

        <a href="/home">Back to Home</a>
</body>
</html>