<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>Create new Annoucement</h2>
        <form action="/announcement/create" method="post" >
            <div>
                <select name="Type">
                    <option value="Thông báo học vụ" >Thông báo học vụ</option>
                    <option value="Thông báo chung">Thông báo chung</option>
                </select>
            </div>
 <div>
                <select name="Public">
                    <option value="true" >Thông báo công khai</option>
                    <option value="false">Thông báo nội bộ</option>
                </select>
            </div>
            <div class ="mt-3">
            <input type="text" name="Title" required placeholder="Title">
            </div>
            <input type="text" name="Content" required placeholder="Content">
            <br> 
            <input type="text" name="Description" required placeholder="Description">
            <br>    
            <p> {{message}}</p>
            <input type="submit" value = "Post">
        </form>

        <a href="/home">Back to Home</a>
</body>
</html>