<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <div class="login-container d-flex align-items-center justify-content-center">
        
        <br> 
        <form action="/course/create-course" method="post" class ="text-center form-content" >

            <h2>Tạo khoá học mới</h2>

            
            <div class = "form group">
                <label for= "Name">Tên môn học</label>
                <input class = "form-control" type="text" name="Name" id = "Name">
            </div>

            
            <div class = "form group">
                <label for= "codeCourse">Mã môn</label>
                <input  class = "form-control" type="text" name="codeCourse" id = "codeCourse"> 
            </div>

            
            <div class = "form group">
                <label for= "Description">Mô tả môn học</label>
                <textarea  class = "form-control"rows="5" cols="23" type="text" name="Description" id ="Description"></textarea>
            </div>    
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 20px;">
                <div class="form group"style="margin-right: 20px;">
                    <label for="start">Ngày bắt đầu:</label>
                    <input type="date" id="start" name="Start" value="2023-12-20" min="2023-01-01" max="2024-12-31" />
                </div>
            
                <div class="form group "style="margin-right: 20px;">
                    <label for="start">Ngày kết thúc:</label>
                    <input type="date" id="start" name="End" value="2023-12-20" min="2023-01-01" max="2024-12-31" />
                </div>
            </div>
                    <div style="text-align: center;word-wrap: break-word; overflow-wrap: break-word; white-space: pre-line;max-width: 800px">
                    <b> {{message}}</b></div>   
                    <input class ="btn btn-primary btn-block" type="submit"  value = "Tạo khoá học">
            </div>    



                
        </form>
    </div>
        <a href="/home">Back to Home</a>

        
</body>
</html>