<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>THIS IS ANNOUNCEMENT COURSE PAGE</h2>


        <a href="/course/management/course-already-create"> Các môn đã tạo </a> 
        <br>
        <a href="/course/management/current-course"> Các môn đang dạy </a> 
       

    <div class="mt-4">
    <a href="/home">back to home</a>
    </div>
</body>
</html>