<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
   
        <div class="login-container d-flex align-items-center justify-content-center">
                
                <form class ="login-form text-center form-content" action="/course/{{codeCourse}}/upload-video" method="post" enctype="multipart/form-data">
                        <h2>Thêm Video bài giảng mới</h2>
                        <div><input  class ="form-control" type="text" name="Title" placeholder="Tiêu đề bài giảng" ></div>
                        <br>
                        <div><input  class ="form-control" type="text" name="Description" placeholder="Mô tả bài học" ></div>
                        <br>
                        <input  type="file" name = "mp4">
                        <br>
                        <br>
                        <input class ="btn btn-primary btn-block" class ="form-control" type="submit" value = "Upload">
                </form>
        </div>
        <a href="/home">Back to Home</a>

        
</body>
</html>