<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2> VIEW VIDEO</h2>
        {{#each AVideo}}
            <div>
                <br>
                <a class = "btn btn-link" href="{{this.URL}}">{{this.URL}}</a>
                <br>
            </div>
        {{/each}}
</body>
</html>