


    <div id = "footer">
        <h2></h2>
        &copy; UIT - ĐHQG TP.HCM 2020. All rights reserved.&nbsp;|&nbsp;
        <a href="https://student.uit.edu.vn/">About Us</a>&nbsp;|&nbsp;
        <a href="/privacy.html">Privacy Policy</a>
    </div>

