<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">UIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/announcement">Announcement <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Conntact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          For Teacher
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/announcement/create">Post Announcement</a>
          <a class="dropdown-item" href="/announcement/management">Announcement Management</a>
          <a class="dropdown-item" href="/signup">Signup Account for Student</a>
          <a class="dropdown-item" href="/student-information/management">Student's information Management</a>
          
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Create a course</a>
          <a class="dropdown-item" href="#">Course management</a>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          For Student
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Schedule</a>
          <a class="dropdown-item" href="#">View current classes</a>
          <a class="dropdown-item" href="#">Register for the course</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Another</a>
          <a class="dropdown-item" href="#">Another</a>
        </div>
      </li>
      
      
    </ul>
    
    <a  href="/logout">Logout</a>
  </div>
</nav>