<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">TRANG CHỦ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/announcement">THÔNG BÁO <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Giảng Viên
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/announcement/create">Đăng thông báo</a>
          <a class="dropdown-item" href="/announcement/management">Quản lý thông báo</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/course/create-course">Tạo khoá học</a>
          
          <a class="dropdown-item" href="/course/current-course">Quản lý khoá học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/signup">Tạo tài khoản</a>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Sinh Viên
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Course </a>
          <a class="dropdown-item" href="/student/dkhp/mon-da-dang-ky">Các môn đã đăng ký</a>
          <a class="dropdown-item" href="/student/dkhp">Đăng ký khoá học</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Another</a>
          <a class="dropdown-item" href="#">Another</a>
                
                
        </div>
      </li>
      
      
    </ul>
    

  </div>
</nav>