<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../.././src/public/css/Auth/login.css">
</head>
<body>
        <div class="login-container d-flex align-items-center justify-content-center">
           
            <form action="/forget" method="post" class ="login-form text-center">
                <h2>FORGET PASSWORD</h2>
                <input class ="form-control" type="email" name="email" required placeholder="email">    
                <p> {{message}}</p>
                <button class ="btn btn-primary btn-block" type="submit" value = "Send">Send</button>     
            </form>
        </div>
</body>
</html>