<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="../.././src/public/css/Auth/login.css">
        
        <div class="login-container d-flex align-items-center justify-content-center">
            
            <form action="/login" method="post" class ="login-form text-center">
            <h2>LOGIN</h2>
           
                <input class ="form-control" type="text" name="name" required placeholder="Username">
                <br> 
                <input class ="form-control" type="password" name="password" required placeholder="********">
                <br> 
                <p> {{message}}</p>
                <button class ="btn btn-primary btn-block" type="submit" value = "Login">Login</button>
                <br>
                 <a href="./forget">Forget password? Click here to reset password</a>
            </form>
        </div>
      
</body>
</html>