<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="login-container d-flex align-items-center justify-content-center">
            <form action="/forget/reset-password" method="post" class ="login-form text-center form-content"style="margin-top: 70px;">
                <h2>RESET MẬT KHẨU</h2>
                <div style="margin-top: 30px;">
                <input class ="form-control" type="password" name="password" required placeholder="Mật khẩu mới">   
                </div> 
                <div style="word-wrap: break-word; overflow-wrap: break-word; white-space: pre-line;max-width: 300px">
                <b> {{message}}</b></div>   
                <input class ="form-control" type ="hidden" name="user_id" value = "{{ user_id }}">
                <button class ="btn btn-primary btn-block"type="submit" value = "Reset Password">Reset mật khẩu</button>
            </form>
        </div>
</body>
</html>     